<p id="notice"><%= notice %></p>

<p>
  <strong>Codciud:</strong>
  <%= @ciudade.codciud %>
</p>

<p>
  <strong>String:</strong>
  <%= @ciudade.string %>
</p>

<p>
  <strong>Nombreciud:</strong>
  <%= @ciudade.nombreciud %>
</p>

<%= link_to 'Edit', edit_ciudade_path(@ciudade) %> |
<%= link_to 'Back', ciudades_path %>
